.movie-review-area {
  margin-bottom: 50px;
}

.movie-review-title {
  font-weight: bold;
  color: white;
  margin: 30px auto;
  text-align: center;
}

.review-card {
  width: 75%;
  margin: 10px auto;
}

.no-review {
  padding: 5rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(101, 104, 107);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.review-author {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
  color: rgb(187, 205, 221);
}

.review-content {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
