/* .movie-review-area {
  margin: 30px 170px;
} */

.movie-review-title {
  font-weight: bold;
  color: white;
  margin: 20px auto;
  text-align: center;
}

.review-card {
  width: 75%;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
}
