.watch-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 6px;
  border: 3px solid white;
  transition: 0.3s;
  z-index: 10;
}

.watch-btn:hover {
  background-color: black;
  color: rgb(60, 118, 226);
  border-color: black;
  transform: scale(1.3);
}

.modal-content {
  background-color: #000 !important;
  border-radius: 6px;
  overflow: hidden;
}
.modal-style {
  height: 100%;
  position: relative;
}
.modal-style::before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 30px;
  position: relative;
}
.modal-header {
  border: none !important;
  filter: invert();
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.modal-body {
  width: 100%;
  height: 400px;
  padding: 0 !important;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 400px) {
  .watch-btn:hover {
    transform: scale(1.1);
  }
}
