.movie-detail-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  background-position: center;
}

.movie-detail-bg:before {
  content: '';
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 60vh;
  width: 100%;
}

.movie-img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}

.left-area {
}

.detail-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 15%;
}
