.detail-tag-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2.4vw;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
}
.movie-popular,
.movie-vote {
  display: flex;
  align-items: center;
  gap: 4px;
}

.movie-age-all {
  color: rgb(48, 185, 82);
  font-weight: bold;
}

.movie-age-19 {
  color: #da636f;
}

@media (min-width: 465px) and (max-width: 1024px) {
  .detail-tag-wrap {
    font-size: 1.8vw;
    column-gap: 1.5vw;
  }
}
@media (min-width: 1025px) {
  .detail-tag-wrap {
    font-size: 0.9vw;
    column-gap: 0.7vw;
  }
}
