@font-face {
  font-family: '로고폰트';
  src: url(../../public/Strenuous3D.ttf);
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
}
.navbar-list a,
.logo-text {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  font-weight: bold;
  font-size: 17px;
}
.navbar-list a {
  margin-left: 35px;
  font-size: 20px;
}
.navbar-list a:hover {
  color: #72a4f0;
}
.logo-text {
  font-family: '로고폰트';
  font-size: 40px;
  margin-left: 10px;
}
.search-input {
  border-radius: 6px;
  border: 4px solid #6b95d4;
  width: 220px;
  height: 45px;
  padding-left: 10px;
}

.search-btn {
  border: none;
  background: none;
  outline: none;
}
.search-icon {
  font-size: 30px;
  opacity: 0.9;
}
.search-input::placeholder {
  font-size: 12px;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-left {
    flex-direction: column;
  }
  .navbar-list {
    display: none;
  }
  .search-toggle {
    display: none;
  }
  .menu-toggle {
    display: inline-block;
    position: absolute;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.9;
  }
  .navbar-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-toggle.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
