@font-face {
  font-family: '테스트폰트';
  src: url(../../public/ManilaSansBld.otf);
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
}
.navbar-list a,
.logo-text {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  font-weight: bold;
  font-size: 17px;
}
.navbar-list a {
  margin-left: 35px;
  font-size: 20px;
}
.navbar-list a:hover {
  color: #72a4f0;
}
.logo-text {
  font-family: '테스트폰트';
  font-size: 35px;
  margin-left: 10px;
}

.form-control::placeholder {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar-list {
    display: none;
  }
  .form-mobile-hidden {
    display: none;
  }
}
