ul li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
@font-face {
  font-family: '로고폰트';
  src: url(../../public/Strenuous3D.ttf);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #6b95d4;
}

.navbar-logo a {
  font-size: 40px;
  font-family: '로고폰트';
  letter-spacing: 3px;
  padding-left: 10px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.navbar-menu li {
  padding: 8px 20px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
  display: flex;
}

.search-in {
  border-radius: 6px;
  border: 4px solid #6b95d4;
  width: 220px;
  height: 45px;
  padding-left: 10px;
  margin-right: 20px;
}

.search-con {
  font-size: 30px;
  opacity: 0.9;
}

.navbar-menu li a:hover {
  color: #72a4f0;
}

.navbar-search {
  display: flex;
  padding-left: 0;
}
.navbar-search li {
  padding: 8px 12px;
}

.navbar-togglebtn {
  position: absolute;
  right: 30px;
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-menu li {
    width: 100%;
    text-align: center;
    /* justify-content: center; */
  }
  .navbar-search {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .search-in {
    margin: auto;
  }
  .search-con {
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
  .navbar-togglebtn {
    display: block;
  }

  .navbar-menu.active,
  .navbar-search.active {
    display: flex;
  }
}
