.not-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lilita One', sans-serif;
}

.title-container {
  text-align: center;
}

.title-404 {
  letter-spacing: 7px;
  font-size: 100px;
  color: white;
}

.page-not {
  color: white;
  font-size: 45px;
}

.go-home {
  font-size: 30px;
}

.go-home-link {
  color: #6b95d4;
  text-decoration: underline;
}
